easydict==1.9
matplotlib==3.2.1
mayavi==4.7.1
modules==1.0.0
numpy==1.19.2
opencv_python==3.4.3.18
pandas==1.1.5
pandaset==0.2.dev0
pomegranate==0.13.4
pyquaternion==0.9.9
scipy==1.5.4
setuptools==52.0.0.post20210125
Shapely==1.7.1
spconv==1.0
timm==0.4.12
torch==1.7.0
torchvision==0.8.2
tqdm==4.61.1
